@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin flexflow($values) {
  -webkit-flex-flow: $values;
  -moz-flex-flow: $values;
  -webkit-flex-flow: $values;
  -ms-flex-flow: $values;
  flex-flow: $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

.flex-container {
  max-width: 69em;
  list-style: none;
  margin: 0 auto;
  width: 95%;

  @include flexbox();
  @include flexflow(row wrap);

  justify-content: align-start;
  align-items: space-around;
}

.flex-item {
  @include flex(0 1 200px);

  cursor: pointer;
  position: relative;
  background: #3594CB;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin: 10px 10px;

  border: 15px solid #3594CB;
  border-top: 25px solid #3594CB;
  color: white;
  font-weight: bold;

  text-align: center;

  box-sizing: padding-box;
}

.flex-item > span {
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  margin: auto;
}