@import 'transitions';


/* Icons */
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot?i64fx9');
	src:url('../fonts/icomoon/icomoon.eot?#iefixi64fx9') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.woff?i64fx9') format('woff'),
		url('../fonts/icomoon/icomoon.ttf?i64fx9') format('truetype'),
		url('../fonts/icomoon/icomoon.svg?i64fx9#icomoon') format('svg');
}

.morph-button {
	display: block;
	margin: 0 auto;

	> button {
		cursor: pointer;
		z-index: 1000;
		width: 300px;
		height: 100%;
		transition: color 0.2s 0.4s, opacity 0.0s 0.4s;

		position: relative;
		padding: 0 1em;
		border: none;
		background-color: #3594cb;
		color: #f9f6e5;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 700;
		line-height: 40px;
		overflow: hidden;
	}

	&.open {
		> button {
			color: transparent;
			pointer-events: none;
			opacity: 0;
			transition: opacity 0.1s;
		}
		&::before {
			z-index: 1800;
			opacity: 1;
			pointer-events: auto;
		}
	}

	/* Morph Button Style: Modal */
	&::before {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.5);
		content: '';
		opacity: 0;
		pointer-events: none;
		z-index: 1000;
		transition: opacity 0.5s;
	}

	.morph {
		opacity: 0;
        position: fixed;
        top: 0;
        left: 0;

		background-color: #3594cb;
		color: white;
		z-index: 900;
		pointer-events: none;
		overflow: hidden;

		.morph-inner {
			transition: opacity 0.2s, visibility 0.2s;
			visibility: hidden;
			opacity: 0;
		}

		&.morph-open {
			@include transform(translate3d(50vw, 50vh, 0) translate3d(-50%, -50%, 0) !important);
			z-index: 1900;

			pointer-events: auto;
			opacity: 1;

			> button {
				z-index: 2000;
			}

			.morph-inner {
				visibility: visible;
				opacity: 1;
				transition: opacity 0.1s;
			}

			.content-style-form {
				h2,
				p,
				.icon-close {
					opacity: 1;
					@include transform(translateY(0));
				}
			}
		}

		&.morph-enter {
			.morph-inner {
				transition: opacity 0.5s, visibility 0.5s;
			}
			transition: transform 0.3s 0.1s;
			opacity: 1;
			@include transform(translate3d(50vw, 50vh, 0) translate3d(-50%, -50%, 0) !important);
			z-index: 1900;
		}

		&.morph-leave {
			transition: transform 0.3s 0.1s;
			opacity: 1;
			z-index: 1900;
		}

	}
}



/* Helper classes */
.noscroll {
	overflow: hidden;
}

/* Media Queries */

@media screen and (max-width: 600px) {
	.morph-button.open .morph-content {
		top: 0% !important;
		left: 0% !important;
		margin: 0;
		width: 100%;
		height: 100%;
		overflow-y: scroll;
		transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
	}
}

@media screen and (max-width: 400px) {
	.morph-content {
		width: 200px;
		height: 80px;
	}

	.morph-button > button {
		font-size: 75%;
	}
}


/* Style for form modal */
.content-style-form {
	position: relative;
	text-align: left;
	h2 {
		margin: 0;
		padding: 0.4em 0 0.3em;
		text-align: center;
		font-weight: 300;
		font-size: 3.5em;
	}

	form {
		padding: 10px 30px;
	}

	form p {
		margin: 0 0 5px 0;
		font-size: 0.7em;
	}

	form p.errors {
		height: 0;
		overflow: hidden;
		margin: 0 0 5px 0;
		font-size: 1.2em;
		font-weight: bold;
		color: #FFA748;
		transition: height 0.2s 0.3s;
	}

	form p.errors.showing {
		height: 1.5em;
	}


	label {
		display: block;
		padding: 10px 0 0;
		color: #e2bfaf;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: bold;
	}

	input[type="text"],
	input[type="email"],
	input[type="password"] {
		padding: 10px;
		width: 100%;
		border: 2px solid #ebd3bd;
		background: transparent;
		color: #c9c6b5;
		font-weight: 300;
		font-size: 2.2em;
	}

	input[type="text"]:focus,
	input[type="email"]:focus,
	input[type="password"]:focus {
		border-color: #6cbfee;
		color: #f9f6e5;
	}

	input:focus {
		outline: 0;
	}

	button {
		position: relative;
		display: block;
		margin-top: 2.5em;
		padding: 1.5em;
		width: 100%;
		border: none;
		background: #57a1f4;
		color: #f9f6e5;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 800;
		font-size: 1.25em;
		transition: background-color 0.2s, color 0.1s;
	}

	button.loading {
		background-color: transparent;
		color: transparent;
		outline: none !important;
	}

	button:after {
		padding: 1.5em;
		position: absolute;
		top:0;left:0;bottom:0;right:0;
		content: "Loading...";
		display: block;
		color: transparent;
	    transition-delay: 0.1s;
		transition: 0.1s, color 0.1s;
	}
	button.loading:after {
		color: white;
	}

	.icon-close {
		top: 0;
		right: 0;
		color: #ebd3bd;
		font-size: 75%;
	}

	.icon-close:hover {
		color: #6cbfee;
	}
}


.icon-close {
	position: absolute;
	top: 20px;
	right: 20px;
}
.icon-close {
	z-index: 100;
	display: block;
	overflow: hidden;
	width: 3em;
	height: 3em;
	text-align: center;
	line-height: 3;
	cursor: pointer;
}

.icon-close:hover {
	color: #a50a05;
}
.icon-close::before {
	content: "\e601";
}
.icon:before {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'icomoon';
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}